body {
    font-family: '', wendy-one; 
    margin: 0;
}
h1 {
    color: #131414;
}
.headerBanner {
    background-color: #8510E6;
    width: 100%;
    padding: 20px 0px 20px 40px;
}
p {
    font-size: 24px;
}
.paragraphBanner {
    background-color: #A9A2C7;
    width: 100%;
    padding: 10px 0px 20px 30px;
}
.content {
    margin: 20px 0px 20px 40px;
    font-size: 20px;
}
a {
    color: #F70A80;
    text-decoration: none;
}
img {
    width: 200px;
    height: 300px ;
}
.decorated {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}